.App {
  text-align: center;
}

.InputArea {
  margin: 1rem;
}
.InputArea input[type="text"] {
  width: 16rem;
  height: 1.6rem;
  border: 0.2rem solid rgb(160, 160, 160);
  border-radius: 0.6rem;
}
.InputArea input[type="text"]:focus {
  border: 0.3rem solid rgb(220, 100, 200);
  outline: 0;
}
.InputArea button {
  margin-left: 0.6rem;
  font-size: medium;
  width: 3.2rem;
  height: 2.2rem;
  background-color: rgb(220, 202, 236);
  border: .2rem solid rgb(96, 96, 96);
  border-radius: 0.6rem;
}

.DisplayArea {
  margin: 1rem;
}
.DisplayArea textarea {
  resize: none;
  width: 20rem;
  height: 20rem;
  border: 0.2rem solid rgb(160, 160, 160);
  border-radius: 0.6rem;
}
.DisplayArea textarea:focus {
  outline: 0;
}

.PageManage {
  margin: 1rem;
}
.PageManage ul {
  padding: 0;
}
.PageManage ul {
  width: 20rem;
  margin: .8rem auto;
  display: flex;
  flex-wrap: wrap;
}
.PageManage li {
  list-style: none;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: .4rem .4rem;
  background-color: rgb(220, 202, 236);
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 .4rem .3rem -0.1rem rgba(0,0,0,0.5);
  cursor: pointer;
}
.PageManage li span {
  display: inline-block;
  margin: .3rem 0;
  color: rgb(40, 40, 40);
  font-weight: bold;
}
.PageManage .add-page {
  cursor: pointer;
}
.PageManage .active {
  background-color: rgb(182, 98, 255);
}
.PageManage .active span {
  color: #fff;
}